// Globaalit SASS muuttujat

// Applikaation tausta yms.
.koti-app
  background-color: $tausta

.koti-header
  background-color: $header

// Normaaliväreinen teksti
.t-primary
  color: $c-teksti

.t-contrast1
  color: $c-contrast1

.t-contrast2
  color: $c-contrast2








